/* ------------------------------------------
Imports
------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ------------------------------------------
General
------------------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #F0F0F0;
}

/* ------------------------------------------
Navbar
------------------------------------------- */

.box-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /*border: 5px solid;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 80%;
    /*border: 5px solid;*/
    border-radius: 5px;
    background-color: #F0F0F0;
}

.link-logo-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    height: 100%;
    width: 12vmin;
}

.image-logo-navbar {
    height: 100%;
    width: 100%;
    /*border: 5px solid blue;*/
}

.conteiner-items-navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 100%;
    /*border: 7px solid red;*/
}

.box-item-navbar {
    /*border: 5px solid rgb(255, 0, 212);*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

.link-home-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 5px solid rgb(255, 0, 0);*/
    height: 40%;
    width: 15%;
}

.image-home-navbar {
    /*border: 5px solid rgb(157, 255, 0);*/
    width: 100%;
    height: 100%;
}

.link-txt-home-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 40%;
    color: #111111;
    font-size: 2.7vmin;
    /*border: 5px solid brown;*/
}

/* ------------------------------------------
Section 1
------------------------------------------- */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    gap: 5%;
    /*border: 5px solid white;*/
}

.title-section {
    width: 95%;
    height: 10%;
    font-size: 8vmin;
    color: #FF3535;
    font-weight: 800;
    /*border: 3px solid white;*/
    margin: 0;
}

.box-films-section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 70%;
    /*border: 5px solid brown;*/
}

.box-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 100%;
    width: 21%;
    /*border: 5px solid blue;*/
}

.link-txt-film-section-1 {
    width: 100%;
    height: 5%;
    /*border: 5px solid orangered;*/
    color: #111111;
    font-size: 2vmin;
    font-weight: 200;
    text-decoration: none;
}

.link-film-section-1 {
    display: flex;
    width: 100%;
    height: 90%;
}

.image-film-section-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* ------------------------------------------
Section 2
------------------------------------------- */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
    gap: 2%;
    width: 100%;
    /*border: 5px solid whitesmoke;*/
}

.title-section-2 {
    width: 95%;
    height: 5%;
    font-size: 8vmin;
    color: #FF3535;
    font-weight: 800;
    /*border: 3px solid white;*/
    margin: 0;
}

.film-most-viewed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    width: 95%;
    height: 12%;
    background-color: #111111;
    border-radius: 5px;
}

.box-main-film-most-viewed {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 6px solid yellow;*/
    height: 80%;
    width: 50%;
    gap: 3%;
}

.link-img-film-most-viewed {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 5px solid red;*/
    height: 100%;
    width: 40%;
}

.img-film-most-viewed {
    /*border: 5px solid palevioletred;*/
    width: 90%;
    height: 100%;
    border-radius: 5px;
}

.title-and-authors-plus-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    /*border: 5px solid red;*/

}

.title-film-most-viewed {
    width: 100%;
    font-size: 4.5vmin;
    text-decoration: none;
    color: #F0F0F0;
    font-weight: 700;
}

.authors-film-most-viewed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 20%;
    /*border: 2px solid black;*/
    font-size: 2vmin;
}

.txt-director-and-author-film-most-viewed {
    margin: 0;
    color: #c4c4c4;
}

.director-and-author-film-most-viewed {
    color: #F0F0F0;
    margin: 0;
}


.stars-film-most-viewed {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    /*border: 2px solid blue;*/
}

.img-star-film-most-viewed {
    width: 6%;
    height: 80%;
}

.tags-and-duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 80%;
    /*border: 3px solid olivedrab;*/
}

.box-tags {
    display: flex;
    flex-direction: row;
    /*border: 3px solid yellow;*/
    font-size: 2vmin;
    gap: 5%;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 30%;
}

.tag-film {
    background-color: #F0F0F0;
    font-size: 2.5vmin;
    font-weight: 600;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #111111;
    text-decoration: none;
    border-radius: 100px;
}

.box-duration {
    width: 70%;
    height: 20%;
    /*border: 3px solid black;*/
    display: flex;
    justify-content: end;
    align-items: center;
}

.txt-duration-film {
    font-size: 2.5vmin;
    color: #c4c4c4;
}

/* ------------------------------------------
Section 3
------------------------------------------- */

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 600px;
    /*border: 5px solid white;*/
}

.films-grid-section-3 {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 47% 47%;
    width: 95%;
    height: 80%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /*border: 5px solid blue;*/
}

.item-grid-section-3 {
    width: 100%;
    height: 100%;
    position: relative;
    /*border: 3px solid goldenrod;*/
    display: flex;
    align-items: end;
}

.link-film-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*border: 5px solid green;*/
}

.img-link-film-grid {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /*border: 5px solid red;*/
}

.txt-link-film-grid {
    position: absolute;
    color: white;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    /*border: 5px solid orchid;*/
    font-size: 4vmin;
    font-weight: 400;
}

.section-4 {
    /*border: 5px solid white;*/
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('C:/OldCine/project/images/Background Mão Fantasma.gif');
}

.title-section-4 {
    width: 95%;
    height: 10%;
    font-size: 8vmin;
    color: #FF3535;
    font-weight: 800;
    /*border: 3px solid white;*/
    margin: 0;
    text-align: end;
}

.box-links-section-4 {
    width: 95%;
    height: 20%;
    /*border: 5px solid white;*/
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3%;
}

.link-films-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3535;
    font-size: 2vmin;
    border-radius: 5px;
    padding: 10px;
    height: 40%;
    width: 20%;
    text-decoration: none;
    color: #F0F0F0;
}

.link-category-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    /**/border: 2px solid #111111;
    font-size: 2vmin;
    border-radius: 5px;
    padding: 10px;
    height: 40%;
    width: 15%;
    text-decoration: none;
    color: #111111;
}

/* ------------------------------------------
Footer
------------------------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 100%;
    height: 700px;
    background-color: #FF3535;
    /*border: 5px solid blue;*/
}

.itens-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40%;
    /*border: 5px solid #F0F0F0;*/
}

.link-logo-footer {
    display: flex;
    height: 100%;
    width: 20%;
}

.image-logo-footer {
    height: 100%;
    width: 100%;
}

.navs-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 5%;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%;
    width: 20%;
    gap: 5%;
    /*border: 5px solid red;*/
}

.title-nav-footer {
    font-weight: 700;
    color: #F0F0F0;
    font-size: 3vmin;
    text-decoration: none;
}

.item-nav-footer {
    font-weight: 200;
    color: #F0F0F0;
    font-size: 2.5vmin;
    text-decoration: none;
}

.signature-footer {
    display: flex;
    align-items: center;
    width: 95%;
    height: 5%;
    /*border: 5px solid red;*/
}

.author-footer {
    color: #F0F0F0;
    font-size: 3vmin;
    font-weight: 800;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

/* ------------------------------------------
Navbar
------------------------------------------- */

.link-home-navbar {
    width: 30%;
}

/* ------------------------------------------
Section 1
------------------------------------------- */

    .section-1 {
        height: 800px;
    }

    .box-films-section-1 {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 45% 45%;
        gap: 50px;
    }    

    .box-film {
        width: 100%;
        height: 100%;
    } 

    
/* ------------------------------------------
Section 2
------------------------------------------- */

.section-2 {
    height: 1200px;
}

.tags-and-duration {
    width: 30%;
}

.link-img-film-most-viewed {
    width: 80%;
}

.title-film-most-viewed {
    font-size: 3vmin;
}

.tag-film {
    font-size: 1.5vmin;
}

.img-star-film-most-viewed {
    width: 10%;
    height: 40%;
}

.film-most-viewed {
    height: 12%;
}

.txt-duration-film {
    font-size: 2vmin;
}


/* ------------------------------------------
Section 3
------------------------------------------- */

.section-3 {
    height: 900px;
}

.films-grid-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-grid-section-3 {
    height: 20%;
}

/* ------------------------------------------
Section 4
------------------------------------------- */

.section-4 {
    height: 700px;
    background: none;
}

.link-films-section-4 {
    width: 30%;
}

.link-category-section-4 {
    width: 30%;
}

/* ------------------------------------------
Footer
------------------------------------------- */

.itens-footer {
    display: flex;
    flex-direction: column;
}

.navs-footer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

}
